/* minus zagolovok neznay nawo */
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
/* knopka- hover i fokus pohodu100%*/
/* для miniкнопок в портболіо 
font-weight: 500;
font-size: 16px;
line-height: 1.62; */
button {
  color: #212121;
  background-color: #f5f4fa;
  border: #f5f4fa;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;
}
button:hover,
button:focus {
  color: #ffffff;
  background-color: #2196f3;
  border: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #F5F5F5;
  color: #212121;
}
.link-header {
  color: #212121;
}
.link-div-header {
  color: #757575;
}
.link-footer {
  color: #757575;
} 
 .link-header:hover,
 .link-header:focus {
  color: #2196F3;
}

.link-div-header,
.link-footer:hover,
.link-div-header,
.link-footer:focus {
  color: #2196F3;
}


